.serie-footer-nav-wrapper {
  margin: 30px 0 10px 25px;
  background: linear-gradient(to right, #282828 87%, rgba(134, 29, 84, 0) 100%) left bottom  no-repeat;
  background-size: 100% 1px;
  margin-left: 60px;
}

.serie-footer-nav-list {
  color: #818181;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  font-size: 17px;
  li {
    padding-bottom: 11px;
    &:hover {
      color: #dbd9d9;
      transition: color 0.2s ease;
      font-weight: 400;
      cursor: pointer;
    }
  }
}


.tab-selected {
  border-bottom: 1px solid green;
}