.serie-footer-nav-wrapper {
  @extend .border-bottom-effect !optional;
  margin: 30px 0 10px 25px;
  margin-left: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.serie-footer-nav-list {
  color: #818181;
  list-style: none;
  display: flex;
  width: 450px;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  font-size: 17px;
}

.tab-title {
  padding-bottom: 11px;
  border: 1px solid transparent;
  transition: color 0.2s ease, border 0.2s ease;
  &:hover {
    color: #dbd9d9;
    border-bottom: 2px solid green;
    font-weight: 400;
    cursor: pointer;
  }
}

.tab-selected {
  color: #dbd9d9;
  border-bottom: 2px solid green;
  font-weight: 400;
  cursor: pointer;
}
