.stats-genre-list {
  list-style: none;
  display: inline-flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.stats-genre-item {
  font-size: 17px;
  color: rgba(255, 255, 255, 0.54);
  padding-right: 8px;
  font-weight: 300;
}

.stats-genre-year {
  @extend .stats-genre-item;
}

.serie-title {
  margin: 0px;
  font-family: 'Varela Round', sans-serif;
  font-size: 50px;
  color: white;
  display: inline-flex;
}
