.cast-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  &:hover {
    .arrows {
      display: block;
    }
  }
}

.cast-section {
  overflow: scroll;
  display: flex;
  overflow: scroll;
  border-radius: 5px;
}

.arrows {
  color: #282828;
  font-size: 50px;
  transition: color 0.2s ease-in-out;
  &:hover {
    color: white;
    cursor: pointer;
  }
}

.artist-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px 0 0;
  height: 140px;
}

.artist-name {
  color: #a5a5a5;
  font-size: 13px;
  text-align: center;
  font-weight: 300;
  font-family: arial;
  margin-top: 5px;
  color: grey;
}

.artist-charname {
  color: #a5a5a5;
  font-size: 16px;
  margin: 10px 0px 0px;
}

.artist-photo {
  width: 85px;
  height: 100px;
  border: 1px solid #282828;
  border-radius: 7px;
}

.artist-default {
  @extend .artist-wrapper;
  padding: 10px;
  border: 1px solid #2f2f2f;
  min-height: 65px;
  margin: 0 2px;
  padding: 0 30px;
  min-width: 100px;
  border-radius: 3px;
  background: #282828;
  transition: all 0.2s ease-in-out;
  height: initial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &:hover {
    background: #313131;
    color: #d2d2d2;
    cursor: pointer;
  }
}