.close-button {
  color: grey;
  font-size: 35px;
  transition: color 0.2s ease-in-out;
  margin: 0;
  align-self: baseline;
  &:hover {
    cursor: pointer;
    color: #dbd9d9;
  }
}

.action-icon {
  font-size: 30px;
}
