@import './Episodes/style.scss';
@import './Episode/style.scss';

.season-wrapper {
  width: 400px;
  position: absolute;
  top: 60px;
  right: 40px;
  z-index: -1;
}

.season-title {
  @extend .tab-title !optional;
  color: rgba(255, 255, 255, 0.54);
  padding-bottom: 11px;
  min-height: 23px;
  border: 2px solid transparent;
  margin-right: 20px;
  // padding-right: 10px;
}

.season-list {
  @extend .serie-footer-nav-list !optional;
  display: flex;
  justify-content: flex-start !important;
  z-index: 1;
}

.season-tab-wrapper {
  @extend .serie-footer-nav-wrapper !optional;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.24) 87%,
      rgba(255, 255, 255, 0.24) 100%
    )
    left bottom no-repeat;
  background-size: 100% 2px;
  width: 330px;
  margin-left: 0px !important;
}


.season-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}