// Footer Container
.serie-detailed-content {
  background: linear-gradient(
    270deg,
    #020202,
    rgba(15, 15, 15, 0.5686274509803921) 70%
  );
  position: fixed;
  width: 100vw;
  height: 200px;
  bottom: 0;
  left: 0;
}

