/*FOONTS*/
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*Image Style*/
.parent-image-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -999;
}

.wrapper-gradient-effect {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100vw;
  background: linear-gradient(217deg, #00000087, #0000002b 70.71%),
    linear-gradient(127deg, #000000b5, #00000000 70.71%),
    linear-gradient(336deg, #0f0f0fe0, #64af7438 70.71%);
}

.source-image {
  width: 100%;
  height: 100%;

  filter: contrast(103%) brightness(109%);
}

.background-image-parent {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/*Title Wrapper*/
.title-wrapper {
  margin-left: 60px;
}

/*Stats*/
.stats-genre-list {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.stats-genre-item {
  font-size: 21px;
  color: #ffffff63;
  font-family: arial;
}
.separator {
  padding: 0 15px;
  font-size: 25px;
  color: #ffffff63;
}
.serie-title {
  margin-bottom: 10px;
  font-family: 'Varela Round', sans-serif;
  font-size: 60px;
  color: white;
}
