/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

/*Material Icons*/
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/*React Carroussel*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');

// Child files
@import 'components/Footer/style.scss';
@import 'components/Header/style.scss';
@import 'components/PageBackground/style.scss';
@import 'components/Season/style.scss';
@import 'components/Separator/style.scss';
@import 'components/Tabs/style.scss';
@import 'components/Icon/style.scss';

// Global changes
body {
  margin: 0;
  padding: 0;
  font-family: 'Varela Round', sans-serif;
  // Disabled selection for visualization purposes.
  // Not a good  UX for larger applications.
  user-select: none;
}

.border-bottom-effect {
  background: linear-gradient(to right, #282828 87%, rgba(134, 29, 84, 0) 100%)
    left bottom no-repeat;
  background-size: 100% 1px;
}

.serie-root {
  height: 100vh;
  position: absolute;
  z-index: -1000;
  width: 100vw;
}
