.action-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 3px;
  border-bottom: 1px solid transparent;
  transition: color 0.2s ease, border 0.2s ease;
  color: rgba(153, 153, 153, 0.5);
  &:hover {
    cursor: pointer;
    color: #dbd9d9;
  }
}

.action-title {
  font-size: 13px;
}

.action-wrapper {
  display: inline-flex;
  justify-content: space-between;
  width: 360px;
  min-width: 360px;
  margin: 0px 10px 0 60px;
}

.synopsis-wrapper {
  display: flex;
  justify-content: flex-start;
  color: #818181;
  font-size: 13px;
  flex-direction: column;
  align-self: baseline;
}

.synopsis-title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.synopsis-body {
  margin: 1px 0 0;
  text-align: justify;
}

.footer-general-info {
  display: flex;
  align-items: center;
  margin: 20px 0 0 0;
}

.logo {
  width: 60px;
  height: 30px;
  filter: grayscale(100%);
  position: relative;
  bottom: 15px;
  right: 50px;
  border-radius: 2px;
  &:hover {
    filter: none;
  }
}

.share {
  font-size: 24px !important;
}
